@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script{
    <script src="../../scripts/OpenLayers-2.12/OpenLayers.js" type="text/javascript"></script>
    <script src="../../scripts/objectEditor.js" type="text/javascript"></script>
    <script src="../../scripts/mapStyles.js" type="text/javascript"></script>
    <script src="../../scripts/propertiesHTMLProvider.js" type="text/javascript"></script>
    <link href="../../css/map.css" rel="stylesheet" type="text/css" />    
}
@section main{
    <div id='basicMap' style="height: 550px;">
    </div>
}
