@model Supervision.Models.Organization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section main {
    <h2>
        Добавить</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Организация</legend>
            <div class="editor-label">
                Наименование
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TITLE)
                @Html.ValidationMessageFor(model => model.TITLE)
            </div>
            <p>
                <input type="submit" value="Сохранить" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
}
