<p style="margin: 5 5 5 5; padding: 5 5 5 5;">
    <h2>
        &nbsp&nbsp Добро пожаловать в систему контроля перевозок опасных грузов!</h2>
    <p style="margin: 5 5 5 5; padding: 5 5 5 5;">
        В настоящее время под вашим контролем находится (<b><a href="javascript:alert('Org')">@ViewBag.OrgCount</a></b>)
        организаций, на которые выдано (<b><a href="javascript:alert('SP')">@ViewBag.SPCount</a></b>)
        специальных разрешений на перевозку опасных грузов. Также вы можете просмотреть
        <b><a href="javascript:alert('SP')">отчеты</a></b> об использовании спец. разрешений.
        Приятного рабочего дня!
    </p>
</p>
